<!DOCTYPE html>
<html>
<head>
  <title>NonScaffoldedExample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag 'rails.png' %>
  </header>
  <ul id="menu">
    <!-- The second argument of link_to is always
         the route name followed by _path -->
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About Us', about_path %></li>
    <li><%= link_to 'Contact Us', contact_path %></li>
    <li><%= link_to 'Blog', posts_path %></li>
  </ul>
<!-- This is where each view is injected. -->
<%= yield %>

</body>
</html>
